.eslintignore
.editorconfig
.env
.env.example
.env.test
.gitignore
.gitkeep
*.yml
*.yaml
.prettierignore
/apps/.gitkeep
/apps/api/src/app/.gitkeep
/apps/api/src/assets/.gitkeep
/libs/.gitkeep
/storage/public/*
/logs/*
/tools/generators/.gitkeep
tslint-to-eslint-config.log
/dist
/coverage
*.hbs
/apps/api/src/templates/*.hbs
docker-compose.yml
docker-compose.yml.bkp
.idea
*.Dockerfile
nginx.conf
yarn.lock
/caddy

